{% extends 'layout.html' %}

{% block content%}

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>



{% endblock %}


{% block galery%}

<div class="bg-light text-dark m-4"> 
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div align="center" class="text-center">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">PHP</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">JS</button>
            <button class="btn btn-default filter-button" data-filter="spray">PYTHON</button>
        </div>
    </div>

    <br/>

    <div class="card-deck p-4">
        <div class="col-4 p-4">
            <div class="card p-2 filter hdpe ">
                <img class="card-img-top" src="{{ url_for('static', filename='incoa.png') }}" style="width: auto;
                height: 75;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        <div class="col-4 p-4">
            <div class="card p-2 filter hdpe ">
                <img class="card-img-top" src="{{ url_for('static', filename='incoa.png') }}" style="width: auto;
                height: 75;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        <div class="col-4 p-4">
            <div class="card p-2 filter hdpe">
                <img class="card-img-top" src="{{ url_for('static', filename='incoa.png') }}" style="width: auto;
                height: 75;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

    </div>

    <div class="card-deck p-4">
        <div class="col-6 p-4">
            <div class="card p-2 filter sprinkle">
                <img class="card-img-top" src="{{ url_for('static', filename='my-shop-logo-1560543118.png') }}"style="width: auto;
                height: 75;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>


        <div class="col-6 p-4">
            <div class="card p-2 filter sprinkle">
                <img class="card-img-top" src="{{ url_for('static', filename='my-shop-logo-1560543118.png') }}"style="width: auto;
                height: 75;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

    </div>


    <div class="card-deck p-4">
        <div class="col-6 p-4">
            <div class="card p-2 filter spray">
                <img class="card-img-top" src="{{ url_for('static', filename='TIL.png') }}"style="width: auto;
                height: 75;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>   
        </div>

        <div class="col-6 p-4">
            <div class="card p-2 filter spray">
                <img class="card-img-top" src="{{ url_for('static', filename='TIL.png') }}"style="width: auto;
                height: 75;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>   
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){

        $(".filter-button").click(function(){
            var value = $(this).attr('data-filter');
            
            if(value == "all")
            {
                //$('.filter').removeClass('hidden');
                $('.filter').show('1000');
            }
            else
            {
    //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
    //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                $(".filter").not('.'+value).hide('3000');
                $('.filter').filter('.'+value).show('3000');
                
            }
        });
        
        if ($(".filter-button").removeClass("active")) {
    $(this).removeClass("active");
    }
    $(this).addClass("active");
    });
</script>
{% endblock %}


